<p class="para_events">Events</p>

<% @future_events.each do |event| %>
  <%= link_to event.name, event_path(event.id) %>
<% end %>

<% @past_events.each do |event| %>
  <%= link_to event.name, event_path(event.id) %>
<% end %>